body {
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><text y='28' font-size='28'>🎬</text></svg>"), auto;
}

.announcement-bar{
  width: 100%;
  height: 40px;
  overflow: hidden;
  background-color: #690800;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.scroll-text{ 
font-family: "Fjalla One", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
display: inline-block;
white-space: nowrap;
margin-top: -8px;
animation: scroll-left 30s linear infinite; 
}

#top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #bf2626;
  width: 100%;
  height: 40px;
}

#top article {
  display: flex;
  justify-content: space-between;
  gap: 140px;
  margin-left: 400px;
  margin-top: 5px;
}

#top a{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #bf2626;
    width: 100%;
    height: 40px;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color:#21666F;
    padding: 20px;
    width: 100%;
    height: 600px;
    margin: 50px auto;
}

#text{
  font-family: "Datatype", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: block;
  margin-left: 60%;
  margin-top: -400px;
  flex-wrap: wrap; 
  color: #FFDD94;
}

#clip{
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  margin-left: -70px;
}

#clip-one article {
  position: relative; 
  width: 100%;
}

#text-over {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute; 
  top: 93%;
  left: 25.4%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1.5px  #D9A282;
  color: #C25942;
  font-size: 7.8rem;
  font-weight: bold;
}

#fox {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
  background-color: #C25942;
  padding: 10px;
  padding-top: 0px;
  width: 100%;
  height: 800px;
}

#fox img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

#text {
  font-family: "Datatype", monospace;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: block;
  margin-left: 60%;
  margin-top: -600px;
  flex-wrap: wrap; 
}


#gallery-column {
  display: block;           
  gap: 20px;               
  align-items: flex-start; 
}

#leftie {
  display: block;
  margin-left: -125%;
  margin-top: 40px;
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  aspect-ratio: 2/2;
  object-fit: cover;
  gap: 15px;              
}

#orange{
 display: block;
 margin-top: -350px;
}

#star{
  display: block;
  margin-top: -23px;
  width: 300px;
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
}